@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-white {
    height: 130vh;
    width: 350px;
}

.top-container-img {
    height: 100px;
    width: 300px;
    margin: 8px;
}

.align {
    text-align: center;
}

.top-container-heading {
    font-family: Bree Serif;
    font-size: 20px;
    color: #183b56;
}

.top-container-para {
    font-family: Bree Serif;
    font-size: 10px;
    color: #616e7c;
    width: 350px;
}

.img {
    height: 80px;
    width: 140px;
    margin: 5px;
}

.bg-img {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 140vh;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card {
    background-color: #ffffff;
    height: 50vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    padding: 20px;
}

.heading-card {
    text-align: left;
    font-family: Bree Serif;
    font-size: 30px;
    color: #5752ab;
}

.para-card {
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    width: 290px;
    color: #323f4b;
}

.button {
    padding: 8px;
    border-radius: 10px;
    border-width: 0.5px;
    border-color: #d7dfe9;
    background-color: #ffffff;
    color: #5752ab;
    width: 200px;
    height: 40px;
    margin: 5px;
    font-size: 15px;
}

.button1 {
    padding: 8px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
    height: 40px;
    width: 80px;
    margin: 5px;
    font-size: 15px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.bg-img {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 600px;
}

.card {
    background-color: #f6c56e;
    border-radius: 3px;
    height: 200px;
    width: 100vw;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    color: #323f4b;
    padding: 50px;
}

.heading {
    font-family: Bree Serif;
    color: #323f4b;
}

.para {
    font-family: Roboto;
    font-size: 20px;
    color: #323f4b;
}

.button {
    background-color: #ffffff;
    border-radius: 10px;
    border-width: 0px;
    height: 40px;
    width: 110px;
}

.back-button {
    height: 40px;
    width: 70px;
}

.bg1-img {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    height: 140vh;
}

.card1 {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #ffffff;
    height: 80vh;
    padding: 20px;

}

.heading {
    font-family: Roboto;
    font-size: 19px;
    color: #323f4b;
}

.news {
    font-family: Roboto;
    font-size: 12px;
    color: #7b8794;
}

.para {
    font-family: Roboto;
    font-size: 15px;
    color: #7b8794;
    width: 385px;
}

.button {
    color: #ffffff;
    border-radius: 8px;
    background-color: #323f4b;
    padding: 8px;
    width: 160px;
}